body {
  height: 100%;
}

.apple,
.pear,
.lemon,
.orange  {
  max-width: 25%;
  height: auto;
}

.container {
  background-image: url('../images/tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.currentScoreArea {
  font-size: 150%;
}

.hidden {
  /* Improve on this hack when time permits */
  visibility: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.rules {
  background-color: #FEE3C5;
  color: #5E8046;
}

.stats {
  background-color: #01FEFF;
}

.targetNum {
  background-color: #3BB373;
}
.title {
  background-color: #D06A1E;
}

.totalScore,
.currentScoreArea {
  background-color: #004041;
}

.transparent {
  height: 20px;
}