body {
  height: 100%;
}

.apple,
.pear,
.lemon,
.orange  {
  max-width: 25%;
  height: auto;
}

.container {
  background-image: url('../images/building.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.title {
  background-color: burlywood;
}

.transparent {
  height: 20px;
}